
@import url('https://www.google.com/fonts#ChoosePlace:select/Collection:Montserrat');

@import url('https://www.google.com/fonts#ChoosePlace:select/Collection:Open+Sans');

.top{
	position: relative;
	width: inherit;
 	height: inherit;
}

.footer{
	color: #FFFFFF;
	border-color: #121C1B;
	border-style: solid;
	top: 0;
	border-width: 1px 0 0;
	text-align: left;
}

#about{
	position: relative;
	width: inherit;
 	height: inherit;
}

.top .top-content{
	position: relative;
	width: 100%;
	padding: 100px 100px;
	text-align: center;
}

.wrapper{
	background: url(../img/web_bg.png) no-repeat center; /*center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#nav_img{
	width: 90px;
	height: 70px;
}

#nav{
	color: #121C1B;
}

/*texter */
#info{
	font-size: 13pt;
	color: #121C1B;
	text-align: left;
	font-weight: lighter;
	margin: 0px 0px 0px 0px;
	font-family: 'Open Sans';
	text-align: justify;
}

#info-about{
	font-size: 13pt;
	color: #121C1B;
	text-align: left;
	font-weight: lighter;
	margin: 0px 0px 0px 0px;
	font-family: 'Open Sans';
	text-align: justify;
}

#info-about2{
	font-size: 13pt;
	color: #121C1B;
	text-align: left;
	font-weight: lighter;
	margin: 0px 0px 0px 0px;
	font-family: 'Open Sans';
	text-align: justify;
}

#heading{
	font-family: 'Open Sans';
	color: #121C1B;
	font-weight: bold;
	/*margin-bottom: 100px;*/
	margin: 0px 0px 40px 0px;
}

#about-us{
	font-family: 'Open Sans';
	color: #121C1B;
	font-size: 13pt;
	text-align: center;
	text-align: justify;
}

h6.info-footer{
	font-size: 13pt;
	color: #121C1B;
	text-align: left;
	font-weight: lighter;
	margin: 3vh 0px 0px 0px;
	font-family: 'Open Sans';
	text-align: center;
}

/*images*/
.profile-img{
	width: 200px;
	height: 200px;
}

.landing-img{
	width: 400px;
	/*margin: 7vw 0px 0px 0px;*/
}

.nkpg{

}


#box{
	display: block;
	position: absolute;
	background: #569F98;
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

#box:hover {
	opacity: 0.9;
}


@media (min-width: 769px) and (max-width: 992px){

	.landing-img{
		width: 350px;
		margin: 7vw 0px 5vw 0px;
	}
	#info-about{
		margin: 0px 0px 20px 25vw;
	}
	#info-about2{
		margin: 0px 0px 20px 0px;
	}
}

@media (min-width: 430px) and (max-width: 768px){
	.landing-img{
		width: 380px;
		margin: 0px 0px 5vw 0px;
	}
	#info-about{
		margin: 0px 0px 20px 30vw;
	}
	#info-about2{
		margin: 0px 5vw 0px 5vw;
	}
}

@media (min-width: 330px) and (max-width: 430px){
	.landing-img{
		width: 160px;
		margin: 0px 0px 5vw 0px;
	}

	#info{
		font-size: 12pt;
		margin: 0px -18vw 0px -18vw; 
	}
	#info-footer{
		text-align: center;
	}
	#container-foot{
	margin-top: -15vw;
	margin-bottom: -10vw;
	padding: 0px;
}

aside{
	padding: 60px 0 50px 0;
}

}

@media (min-width: 0px) and (max-width: 330px){
	.landing-img{
		width: 160px;
		margin: 0px 0px 5vw 0px;
	}

	#info{
		font-size: 12pt;
		margin: 0px -20vw 0px -20vw; 
	}

}