
 @import url('https://www.google.com/fonts#ChoosePlace:select/Collection:Open+Sans');

html, body {
    height: 100%;
    width: 100%
}

.wrapper{
    background: url(../img/web_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

#arrows{}

.carousel-inner {
    height: 100%;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}

#heading{
    font-size: 35pt;
    font-weight: bold;
    line-height: 1.5;
    color: #121C1B;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans';
    text-align: center;
    
}

.top{
    font-family: 'Open Sans';
    font-size: 16pt;
    font-weight: bold;
    margin-top: 13px;
}

#company{
    margin: 0px 0px 2vw 0px;
}

#infoTxt{
    font-family: 'Open Sans';
    text-align: justify;
}

#website{
   font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    /*margin-top: 13px;*/ 
}

#link{
    font-family: 'Open Sans';
    font-size: 19px;
    color: #000000;
    font-weight: lighter;
    /*margin-top: 13px;*/
}

.bottom{
    margin: 6vw 0 0 0;
}

#about{

    color: #121C1B;
    margin: 0 0 10px;
    text-align: justify;
    font-family: 'Open Sans';
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-image: url('../img/web_bg.png');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#edu-img{
    margin-left: -10vw;
}

footer {
    margin: 50px 0;
}

@media (min-width: 769px) and (max-width: 992px){

    #info{
        font-size: 12pt;
        margin: 0px -18vw 0px -18vw; 
    }

    #about{ margin: 24px; }

    .top{
        font-size: 50px;
        text-align: center;
    }

    .wrapper{
        height: 120%;
    }

    #company{
        font-size: 40px;
        margin-top: 30px;
    }

    #edu-img{
        width: 140%;
    }

    #infoTxt{
        font-size: 33px;
        font-weight: lighter;
        margin: 0 -4vw 6vh 0;
    }

    #website, #link{
        font-size: 40px;
    }

    #arrows{
        font-size: 150px;
    }


}

@media (min-width: 430px) and (max-width: 768px){
    .top{
        font-size: 35px;
    }

    #company{
        font-size: 20px;
    }

    #edu-img{ margin-left: 5vw; }

    #company{
        font-size: 20pt;
        font-weight: bold;
        margin: 2vh 6vw 1vh;
    }
    #infoTxt{
        margin: 0 6vw;
        font-size: larger;
    }
    #arrows{
        font-size: 150px;
    }
}

@media (min-width: 330px) and (max-width: 430px){
    .top{
        font-size: 35px;
    }

    #company{
        font-size: 20px;
    }

    #edu-img{ 
        width: 90%;
        margin-left: 5vw; 
    }

    #company{
        font-size: 20pt;
        font-weight: bold;
        margin: 2vh 6vw 1vh;
    }
    #infoTxt{
        margin: 0 6vw;
        font-size: larger;
    }
    #arrows{
        font-size: 150px;
    }
}




@media (min-width: 0px) and (max-width: 330px){


    #info{
        font-size: 12pt;
        margin: 0px -20vw 0px -20vw; 
    }
    .top{
            font-size: 20pt;
        }

    #arrows{
        font-size: 150px;
    }
    .wrapper{
        height: 100%;
    }


}